image:
- Visual Studio 2013
- Visual Studio 2015
- Visual Studio 2017
- Visual Studio 2019
- Visual Studio 2022

for:
- matrix:
    only:
    - image: Visual Studio 2013
  build_script:
  - mkdir build10
  - cd build10
  - cmake .. -G "Visual Studio 10 2010" -DUNITS=1
  - cmake --build .
  - Debug\units.exe
  - cd ..
  - mkdir build12
  - cd build12
  - cmake .. -G "Visual Studio 11 2012" -DUNITS=1
  - cmake --build .
  - Debug\units.exe
  - cd ..
  - mkdir build13
  - cd build13
  - cmake .. -G "Visual Studio 12 2013" -DUNITS=1
  - cmake --build .
  - Debug\units.exe
- matrix:
    only:
    - image: Visual Studio 2015
  build_script:
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio 14 2015" -DUNITS=1
  - cmake --build .
  - Debug\units.exe
- matrix:
    only:
    - image: Visual Studio 2017
  build_script:
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio 15 2017" -DUNITS=1
  - cmake --build .
  - Debug\units.exe
- matrix:
    only:
    - image: Visual Studio 2019
  build_script:
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio 16 2019" -DUNITS=1
  - cmake --build .
  - Debug\units.exe
- matrix:
    only:
    - image: Visual Studio 2022
  build_script:
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio 17 2022" -DUNITS=1
  - cmake --build .
  - Debug\units.exe
