version: 2.1

jobs:
  # Has CMake 3.0, GCC 4.8
  alpine_3_1:
    docker:
      - image: alpine:3.1
    steps:
      - run: |
          apk update &&
          apk add cmake g++ make
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          make -j 2
      - run: build/units

  # Has CMake 3.26, GCC 12, Samurai 1.2
  alpine_3_18:
    docker:
      - image: alpine:3.18
    steps:
      - run: |
          apk update &&
          apk add cmake g++ samurai
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          samu
      - run: build/units

  arch:
    docker:
      - image: archlinux
    steps:
      - run: |
          pacman -Sy --noconfirm cmake gcc samurai
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          samu
      - run: build/units

  # Has CMake 2.8.12, GCC 4.8
  centos_7:
    docker:
      - image: centos:7
    steps:
      - run: |
          yum install -y cmake gcc-c++ make
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          make -j 2
      - run: build/units

  # Has CMake 2.8.9, GCC 4.7
  debian_7_wheezy:
    docker:
      - image: debian:7-slim
    steps:
      - run: |
          dpkg -l &&
          echo 'deb http://archive.debian.org/debian wheezy main' > /etc/apt/sources.list &&
          apt-get update &&
          apt-get install -y --no-install-recommends --force-yes cmake g++ libc6=2.13-38+deb7u10 libc-bin=2.13-38+deb7u10 make
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          make -j 2
      - run: build/units

  # Has CMake 3.25, GCC 12, Ninja 1.11
  debian_12_bookworm:
    docker:
      - image: debian:bookworm-slim
    steps:
      - run: |
          apt-get update &&
          apt-get install -y --no-install-recommends cmake g++ ninja-build
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          ninja
      - run: build/units

  # Has CMake 2.8.12, GCC 4.8, Ninja 1.4
  fedora_20:
    docker:
      - image: fedora:20
    steps:
      - run: |
          yum install -y cmake gcc-c++ ninja-build
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          ninja-build
      - run: build/units

  # Has CMake 3.27, GCC 13, Samurai 1.2
  fedora_39:
    docker:
      - image: fedora:39
    steps:
      - run: |
          dnf install -y cmake gcc-c++ samurai
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          samu
      - run: build/units

  # Has CMake 3.3, GCC 4.9, Ninja 1.6
  #nix_1_1_0:
  #  shell: /bin/sh
  #  docker:
  #    - image: nixos/nix:1.1.0
  #  steps:
  #    - checkout
  #    - run: |
  #        nix-env -i bash &&
  #        mkdir build &&
  #        cd build &&
  #        nix-shell -p cmake gcc ninja --run 'cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 && ninja && ./units'

  # Has CMake 3.22, GCC 11, Samurai 1.2
  nix_2_12_0:
    shell: /bin/sh
    docker:
      - image: nixos/nix:2.12.0
    steps:
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          nix-shell -p cmake gcc samurai --run 'cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 && samu && ./units'

  # Has CMake 3.20, GCC 11
  rocky_9:
    docker:
      - image: rockylinux:9
    steps:
      - run: |
          dnf install -y cmake gcc-c++ make
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          make -j 2
      - run: build/units

  # Has CMake 2.8.7, GCC 4.6
  ubuntu_12_04_precise:
    docker:
      - image: ubuntu:precise
    steps:
      - run: |
          echo 'deb http://old-releases.ubuntu.com/ubuntu precise main' > /etc/apt/sources.list &&
          apt-get update &&
          apt-get install -y --no-install-recommends --force-yes cmake g++ libc6=2.15-0ubuntu10 libc-bin=2.15-0ubuntu10 make
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          make -j 2
      - run: build/units

  # Has CMake 3.27, GCC 13, Ninja 1.11
  ubuntu_23_10_mantic:
    docker:
      - image: ubuntu:23.10
    steps:
      - run: |
          apt-get update &&
          apt-get install -y --no-install-recommends cmake g++ ninja-build
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          ninja
      - run: build/units

  void:
    shell: /bin/sh
    docker:
      - image: ghcr.io/void-linux/void-glibc
    steps:
      - run: |
          xbps-install -Suy xbps &&
          xbps-install -Sy bash cmake gcc samurai
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          samu
      - run: build/units

  void_musl:
    shell: /bin/sh
    docker:
      - image: ghcr.io/void-linux/void-musl
    steps:
      - run: |
          xbps-install -Suy xbps &&
          xbps-install -Sy cmake gcc samurai
      - checkout
      - run: |
          mkdir build &&
          cd build &&
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Debug -DUNITS=1 &&
          samu
      - run: build/units

workflows:
  version: 2
  build_all:
    jobs:
      - alpine_3_1
      - alpine_3_18
      - arch
      - centos_7
      - debian_7_wheezy
      - debian_12_bookworm
      - fedora_20
      - fedora_39
      - nix_2_12_0
      - rocky_9
      - ubuntu_12_04_precise
      - ubuntu_23_10_mantic
      - void
      - void_musl
